.offerBox{
    width: 100%;
}

.offer{
    width: 94%;
    border: 1px solid black;
    margin: 2%;
}

.singleReaction{
    display: flex;
    border: 1px solid black;
    flex-flow: row wrap;
    justify-content: space-between;
}
